<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리 페이지</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="header" id="header">
    <a href="/admin/main" class="admin-link">Aiary</a>
</div>

<h1>관리자 페이지</h1>

<div class="container">
    <a href="/admin/user" class="card">
        <div class="icon">👤</div>
        <h3>유저 관리</h3>
        <p>유저 정보 관리</p>
    </a>
    <a href="/admin/mission" class="card">
        <div class="icon">🔔</div>
        <h3>미션 관리</h3>
        <p>미션 등록, 삭제, 셔플</p>
    </a>
</div>
</body>
</html>
